.b-blocks-desc
{
    margin-top: 40px;
}

.b-blocks-desc .b-text__ul
{
    margin-bottom: 0;
}

.b-blocks-desc .b-text__ul,
.b-blocks-desc .b-text__ul .b-text__li
{
    margin-left: 0;

    list-style: disc inside;
}

.b-blocks-desc .b-text__li .b-text__li
{
    margin-left: 1em;

    list-style: none;
}

.b-blocks-desc .b-layout-table__cell
{
    vertical-align: baseline;
}

.b-blocks-desc .b-text__p
{
    margin-top: 0.8em;
}

.b-blocks-desc .b-text__h6
{
    font-size: 100%;
    font-weight: bold;

    margin-bottom: 0.3em;
}