.b-blocks-desc
{
    margin-top: 40px;
}

.b-blocks-desc .b-text__ul,
.b-blocks-desc .b-text__li
{
    margin-left: 0;

    list-style: none !important;
}

.b-blocks-desc .b-text__li
{
    font-weight: bold;
}

.b-blocks-desc .b-text__li .b-text__li
{
    font-weight: 400;

    margin-left: 1em;

    list-style: disc;
}

.b-blocks-desc .b-layout-table__cell
{
    vertical-align: baseline;
}
.b-blocks-desc .b-text__p
{
    margin-top: 0.8em;
}