.b-menu-vert__title
{
    font-size: 100%;

    margin: 5px 5px 5px 23px;
}

.b-menu-vert__item,
.b-menu-vert_type_submenu .b-menu-vert__item-content
{
    padding: 3px 5px 3px 23px;
}

.b-menu-vert_type_submenu .b-menu-vert__item,
.b-menu-vert_type_submenu .b-menu-vert__item-content
{
    margin-left: 20px;
}

.b-menu-vert .b-link:link,
.b-menu-vert .b-link:visited
{
    color: #00c;
}
