b
.sass-cache

.*.xsl
.*.xsl.*
sets/*/*/*.title.txt
blocks/b-blocks-list/b-blocks-list.bemhtml
*.decl.js

.idea
*.iml

.project
.svn/

pages/*/*.css
!pages/*/_*.css
pages/*/*.bemjson.js
pages/*/*.bemhtml.js

index.*.bemjson.js
