.b-description
{
    line-height: 1.5em;

    max-width: 75%;
    min-width: 400px;
    margin-top: 30px;
}

.b-description .b-text__ul
{
    margin: 0.4em 0 0 2em;

    list-style: disc;
}

.b-description .b-text__p
{
    margin-top: 0.8em;
}
