.b-form-input_size_m .b-form-input__box,
.i-ua_css.i-ua_css_quirks .b-form-input_size_m .b-form-input__input
{
    height: 20px;
}

.b-form-input_size_m .b-form-input__input
{
    height: 18px;
    padding-top: 0;

    line-height: 19px;
}
