.b-menu-horiz_layout_normal .b-menu-horiz__layout,
.b-menu-horiz_layout_normal .b-menu-horiz__layout-unit
{
    margin: 0;
    padding: 0;

    list-style: none;
}

.b-menu-horiz_layout_normal .b-menu-horiz__title,
.b-menu-horiz_layout_normal .b-menu-horiz__layout,
.b-menu-horiz_layout_normal .b-menu-horiz__layout-unit
{
    display: -moz-inline-box;
    display: inline-block;
}
