.b-menu-horiz_layout_normal .b-menu-horiz__title
{
    margin-right: 10px;
}

.b-menu-horiz_layout_normal .b-menu-horiz__item
{
    margin: 0 0.3em;
    padding: 0.3em 0.5em;
}

.b-menu-horiz_layout_normal .b-menu-horiz__item_state_current
{
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;

    background: #ff1900;
}

.b-menu-horiz_layout_normal .b-menu-horiz__item_state_current .b-menu-horiz__item-selector
{
    cursor: default !important;

    color: #fff;
}

.b-menu-horiz_layout_normal .b-menu-horiz__item_state_disabled a.b-menu-horiz__item-selector,
.b-menu-horiz_layout_normal .b-menu-horiz__item_state_disabled a.b-menu-horiz__item-selector:hover
{
    cursor: default;

    color: #ccc !important;
}

.b-menu-horiz_layout_normal .b-menu-horiz__item-selector .b-link__inner
{
    border-bottom: 0 !important;
}

.b-menu-horiz_layout_normal .b-menu-horiz__layout,
.b-menu-horiz_layout_normal .b-menu-horiz__layout-unit
{
    margin: 0;
    padding: 0;

    list-style: none;
}

.b-menu-horiz_layout_normal .b-menu-horiz__title,
.b-menu-horiz_layout_normal .b-menu-horiz__layout,
.b-menu-horiz_layout_normal .b-menu-horiz__layout-unit
{
    display: inline-block;
}

.b-link_pseudo_yes
{
    color: #1a3dc1;
}

.i-ua_js_yes .b-link_pseudo_yes
{
    text-decoration: none;

    cursor: pointer;
}

.i-ua_js_yes .b-link_pseudo_yes .b-link__inner
{
    text-decoration: none;

    color: inherit;
    border-bottom: 1px dotted;
}

