.i-ua_js_no .checkbox__box:before,
.i-ua_js_no .checkbox__box:after,
.i-ua_js_no .checkbox__tick
{
    display: none;
}


.checkbox__box:before,
.checkbox__box:after
{
    position: absolute;

    content: '';
}

.checkbox__box:after
{
    top: 1px;
    left: 1px;

    padding: 0;

    border-radius: 2px;
    background: #fff;
    -moz-box-shadow: 0 0 0 1px rgba(0,0,0,.2);
         box-shadow: 0 0 0 1px rgba(0,0,0,.2);
}

.checkbox__box_checked_yes:after
{
    background: #ffeba0;
}

.checkbox__box_checked_yes:after,
.checkbox__box_checked_yes.checkbox__box_focused_yes:after
{
    -moz-box-shadow: 0 0 0 1px rgba(153,122,0,.5);
         box-shadow: 0 0 0 1px rgba(153,122,0,.5);
}

.checkbox
{
    font-size: 15px;
}

.checkbox .checkbox__box:after,
.checkbox .checkbox__box:before
{
    width: 15px;
    height: 15px;
}

.checkbox .checkbox__tick
{
    top: 0;
    left: 2px;

    width: 18px;
    height: 18px;

    background-size: contain;
}

.checkbox__box
{
    position: relative;

    white-space: nowrap;
}

.i-ua_js_yes .checkbox__control
{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    width: 101%;
    height: 101%;
    margin: 0;
    padding: 0;

    opacity: 0;
    border: 0;
    outline: 0;
    background: none;
}

.checkbox__tick
{
    position: relative;
    z-index: 3;

    display: inline-block;
    visibility: hidden;

    padding: 0;

    vertical-align: baseline;

    background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2215%22%20height%3D%2216%22%3E%3Cpolygon%20points%3D%2213.512%2C0.453%205.475%2C12.478%201.708%2C8.28%200.667%2C9.605%205.603%2C15.058%2014.722%2C1.613%22%2F%3E%3C%2Fsvg%3E) 0 100% no-repeat;
}

.checkbox__box_checked_yes .checkbox__tick
{
    visibility: visible;
}

.checkbox__box_focused_yes:before
{
    top: 0;
    left: 0;

    padding: 1px;

    border-radius: 3px;
    -moz-box-shadow: 0 0 6px #fc0;
         box-shadow: 0 0 6px #fc0;
}

.i-ua_interaction_yes[data-interaction='pointer']  .checkbox__box_focused_yes:before
{
    -moz-box-shadow: none;
         box-shadow: none;
}
