.b-link_pseudo_yes
{
    color: #1a3dc1;
}

.i-ua_js_yes .b-link_pseudo_yes
{
    cursor: pointer;
    text-decoration: none;
}

.i-ua_js_yes .b-link_pseudo_yes .b-link__inner
{
    color: inherit;

    border-bottom: 1px dotted;
}
