@import url(../../../blocks/i-global/i-global.css);
@import url(../../../blocks/i-reset/i-reset.css);
@import url(../../../blocks/b-page/b-page.css);
@import url(../../../blocks-desktop/b-menu-horiz/_layout/b-menu-horiz_layout_horiz.css);
@import url(../../../blocks-desktop/b-menu-vert/__item-content/b-menu-vert__item-content.css);
@import url(../../../blocks-desktop/b-menu-vert/__item-content/_visibility/b-menu-vert__item-content_visibility_visible.css);
@import url(../../../blocks-desktop/b-menu-vert/b-menu-vert.css);
@import url(../../../blocks-desktop/b-link/b-link.css);
@import url(../../../blocks/b-page-title/b-page-title.css);
@import url(../../../blocks/b-page-title/_page/b-page-title_page_inner.css);
@import url(../../../blocks/b-blocks-list/b-blocks-list.css);
@import url(../../../blocks/b-blocks-desc/b-blocks-desc.css);
@import url(../../../blocks-desktop/b-text/b-text.css);
@import url(../../../blocks/b-text/b-text.css);
@import url(../../../blocks/i-desc/_type/i-desc_type_mod.css);
@import url(../../../blocks/i-desc/_type/i-desc_type_elem.css);
