.b-search__input
{
    width: 100%;
    margin: 0;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.b-search__button
{
    margin: 0;
}
.b-layout-table
{
    font-size: 100%;

    width: 100%;

    border-collapse: collapse;
}

.b-layout-table__gap,
.b-layout-table__cell
{
    padding: 0;

    vertical-align: top;
}

.b-search__layout-input
{
    width: 100%;

    vertical-align: middle;
}

.b-search__layout-button
{
    padding-left: 6px;

    vertical-align: middle;
}

