.b-menu-vert__item
{
    display: -moz-inline-box;
    display: inline-block;

    padding: 0.4em 0.3em 0.2em;
}

.b-menu-vert__item_state_current
{
    background-color: lightpink;
}

.b-menu-vert__item_state_current .b-link__inner
{
    cursor: default;

    color: #000 !important;
    border-bottom: none !important;
}
