.b-map__spin-pane .b-spin
{
    position: absolute;
    top: 50%;
    right: auto;
    bottom: auto;
    left: 50%;
    margin-top: -14px;
    margin-left: -14px;

    width: 27px;
    height: 27px;
}

.b-map__controls
{
    background-color: #aaa;
}


.b-map__goto-map
{
    position: absolute !important;
}

.b-map__goto-map-icon
{
    display: inline;

    width: 10px;
    height: 10px;

    margin-right: 7px;
    margin-bottom: 3px;

    background: url('b-map__goto-map-icon.png') no-repeat;
}
