.b-blocks-desc__entity-group
{
    margin: 1.1em 0 0.5em;
    padding-bottom: 2px;

    line-height: 1.1;

    color: #EB8C28;
    border-bottom: 1px solid #DBDFEA;

    font-size: 115.385%;
    font-weight: normal;
    font-family: 'Maven Pro', Helvetica, sans-serif;
}
