.b-blocks-desc__entity-group
{
    border-bottom: 1px solid #DBDFEA;
    font-size: 115.385%;
    font-weight: normal;
    padding-bottom: 2px;
    color: #EB8C28;
    font-family: 'Maven Pro',Helvetica,sans-serif;
    line-height: 1.1;
    margin: 1.1em 0 0.5em;
}
