.b-menu-vert__item-content
{
    display: none;
}
.b-menu-vert__item-content_visibility_visible
{
    display: block;
}

.b-menu-vert__layout,
.b-menu-vert__separator,
.b-menu-vert__layout-unit
{
    margin: 0;
    padding: 0;

    list-style: none;
}

.b-menu-vert
{
    width: 180px;
}

.b-menu-vert__title
{
    font-size: 100%;

    margin: 5px 5px 5px 23px;
}

.b-menu-vert__item
{
    padding: 3px 5px 3px 23px;
}

.b-menu-vert_type_submenu .b-menu-vert__item
{
    margin-left: 20px;
}

.b-menu-vert__separator
{
    width: 130px;
    margin: 4px 0 4px 8px;
}

.b-menu-vert__trigger
{
    cursor: pointer;
}
.b-menu-vert__trigger
{
    margin-left: -18px;
}

.b-menu-vert__trigger-icon
{
    margin: 1px 0 -1px;
    padding: 9px 0 0 16px;

    cursor: pointer;

    background: url("../../../../blocks-desktop/b-menu-vert/examples/40-b-menu-vert_trigger.blocks/b-menu-vert/__trigger/b-menu-vert__trigger.gif") no-repeat;
}

.b-menu-vert__trigger_state_opened .b-menu-vert__trigger-icon
{
    background-position: -16px 0;
}

.b-menu-vert__separator
{
    border-bottom: 1px solid #ccc;
}

.b-link_pseudo_yes
{
    color: #1a3dc1;
}

.i-ua_js_yes .b-link_pseudo_yes
{
    text-decoration: none;

    cursor: pointer;
}

.i-ua_js_yes .b-link_pseudo_yes .b-link__inner
{
    text-decoration: none;

    color: inherit;
    border-bottom: 1px dotted;
}

.b-link_inner_yes:link,
.b-link_inner_yes:hover,
.b-link_inner_yes:visited
{
    text-decoration: none;
}

.b-link_inner_yes .b-link__inner
{
    text-decoration: underline;

    color: inherit;
}

.b-link_inner_yes .b-icon
{
    vertical-align: middle;

    margin-right: 5px;
}
.b-icon
{
    font: 0/0 a;

    border: 0;

}

